<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>listUserServlet</servlet-name>
        <servlet-class>Servlet.listUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertUserSeverlet</servlet-name>
        <servlet-class>Servlet.InsertUserSeverlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testServlet</servlet-name>
        <servlet-class>Servlet.testServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertProductServlet</servlet-name>
        <servlet-class>Servlet.InsertProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showProductServlet</servlet-name>
        <servlet-class>Servlet.showProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginStafftServlet</servlet-name>
        <servlet-class>Servlet.loginStafftServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertStaffServlet</servlet-name>
        <servlet-class>Servlet.InsertStaffServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>listUserServlet</servlet-name>
        <url-pattern>/listUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertUserSeverlet</servlet-name>
        <url-pattern>/InsertUserSeverlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testServlet</servlet-name>
        <url-pattern>/testServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertProductServlet</servlet-name>
        <url-pattern>/InsertProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showProductServlet</servlet-name>
        <url-pattern>/showProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginStafftServlet</servlet-name>
        <url-pattern>/loginStafftServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertStaffServlet</servlet-name>
        <url-pattern>/InsertStaffServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
