$color-blue: #76c4ce;
$color-pink: #ee6c92;
$color-dark-pink: #ec5a84;
$color-border-pink: #db1952;


::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f5f5f5; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: $color-blue; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: $color-pink; 
}


#dangcap{
/*  animation: dangcap1 1.5s infinite;*/
    position: fixed;
    background-color: #f5f5f5;
        /*opacity: 1;*/
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    z-index: 1000000000000;
}
.lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    top: 50%;
    left: 50%;
    transform: translate(-32px, -32px);
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #76c4ce;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #76c4ce transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
    }
}

.clearfix, .r{
    &:after{
        content: '';
        display: table;
        clear: both;
    }
}
.color-pink{color: $color-pink;}
.fr{float: right;}  .fz13{font-size: 13px;} .pl20{padding-left: 20px;}  .dib{display: inline-block;}  .mt70{margin-top: 70px;} .ml50{margin-left: 50px;} .ml70{margin-left: 70px;} .ml100{margin-left: 100px;}.mr60i{margin-right: 60px!important;}
h2.h2f{
    padding: 14px 0 14px 50px;
    position: fixed;
    margin: 0;
    background: white;
    top: 0;
    left: 0;
    z-index: 1;
    right: calc(35% + 40px);
}
.r{
    margin-left: -10px;
    margin-right: -10px;
}
.c-05{
    float: left;
    width: 50%;
}
a{
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}
.button-remove{
    background-color: #ec5a84;
    padding: 5px;
    border: 1px solid #ec5a84;
    color: #fff;
    &:hover{
        background-color: #fff;
        color: #ec5a84;
    }
}
@font-face {
    font-family: 'MerriweatherSans';
    src: url('../fonts/MerriweatherSans-Regular/MerriweatherSans-Regular.eot');
    src: local('☺'), url('../fonts/MerriweatherSans-Regular/MerriweatherSans-Regular.woff') format('woff'), url('../fonts/MerriweatherSans-Regular/MerriweatherSans-Regular.ttf') format('truetype'), url('../fonts/MerriweatherSans-Regular/MerriweatherSans-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: 'MerriweatherSans';
}
body{
    margin: 0;padding: 0;
    .product-item{
        // background-color: #cfe0e2;
        padding: 10px;
        margin: 10px;
        border: 1px solid #ebebeb;
        box-shadow: 4px 4px 0 #ebebeb;
        position: relative;
        img{
            width: 90px;
            height: 90px;
            object-fit: cover;
            display: block;
        }
        .pname{
            position: absolute;
            top: 10px;
            left: 100px;
            color: #000;
            width: 200px;
            font-weight: bold;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            &:hover{
                color: #76c4ce;
            }
        }
        .pdate{
            position: absolute;
            right: 20px;bottom: 20px;
            span{
                color: #b8b8b8;
            }
        }
        .pbutton-wishlist{
            position: absolute;
            right: 20px;
            bottom: 20px;
        }
    }
    .ui{
        .left-part{
            float: left;
            width: 65%;
            .list-product{
                padding-left: 100px;
                padding-right: 60px;
            }
            .block-product{
                h2{
                    padding-left: 50px;
                    a{
                        float: right;
                        margin-right: 80px;
                        color: $color-blue;
                        &:hover{
                            color: $color-pink;
                        }
                    }
                }
                &:not(:first-child){
                    margin-top: 30px;
                    border-top: 1px solid #ebebeb;
                }
                &:last-child{
                    margin-bottom: 25px;
                }
            }
        }
        .right-part{
            background-color: #76c4ce;
            // float: left;
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            left: 65%;
            #myaccount{
                position: absolute;
                width: 100%;
                top: 50%;
                transform: translateY(-50%);
            }
            .avatar{
                position: relative;
                margin: 0 auto;
                border: 6px solid #fff;
                border-radius: 50%;
                overflow: hidden;
                width: 170px;
                height: 170px;
                font-size: 12px;
                // margin-top: 70px;
                img{
                    width: 170px;
                    height: 170px;
                    object-fit: cover;
                }
                a{
                    position: absolute;
                    bottom: 0;
                    width: 170px;
                    text-align: center;
                    padding-top: 40px;
                    height: 45px;
                    left: 50%;
                    -webkit-transform: translateX(-50%);
                    transform: translateX(-50%);
                    z-index: -1000;
                    -webkit-transition: color .2s ease-in-out;
                    transition: color .2s ease-in-out;
                    color: #ffffff00;
                    background-color: #0000007a;
                    i{
                        top: 12px;
                        left: 50%;
                        font-size: 20px;
                        transform: translateX(-50%);
                        position: absolute;
                    }
                }
                &:hover{
                    a{
                        z-index: 1000;
                        opacity: 1;
                        color: #ffffffff;
                    }
                }
            }

        }
        .profile{
            width: 320px;
            margin: 0 auto;
            &:hover{
                p.profile-name>a{
                    // opacity: 1;
                    color: #000;
                    z-index: 1000;
                }
            }
            p.profile-name{
                text-align: center;
                position: relative;
                >a{
                    position: absolute;
                    right: -2px;
                    top: 0;
                    // opacity: 0;
                    color: #76c4ce;
                    z-index: -1000;
                    -webkit-transition: .2s ease-in-out;
                    transition: .2s ease-in-out;
                    &:hover{
                        color: #fff;
                    }
                }
            }
            .profile-info{
                border-top: 1px solid #ccc;
                position: relative;
                >span{
                    display: block;
                    padding: 10px 0;
                }
            }
        }
    }
}
.form-account{
    h2{
        padding-left: 190px;
    }
    .label-account{
        color: rgb(102, 102, 102);
        margin-left: 240px;
        margin-bottom: 5px;
    }
    input{
        border: 1px solid #ebebeb;
        padding: 10px;
        width: 400px;
        display: block;
        margin: 0 auto;
    }
    input + .label-account{
        margin-top: 15px;
    }
    input + .label-account + input{
        margin-bottom: 15px;
    }
    .btn{
        margin-left: 240px;
        background-color: $color-blue;
        border: 1px solid $color-blue;
        padding: 5px;
        color: #fff;
        &:hover{
            background-color: #fff;
            color: $color-blue;
        }
    }
}
.table-account{
    h2{
        padding: 14px 0 14px 50px;
        position: fixed;
        margin: 0;
        background: white;
        top: 0;
        left: 0;
        z-index: 1;
        right: calc(35% + 40px);
    }
    .list-product{
        padding-top: 70px;
    }
    img{
        width: 140px;
        height: 140px;
        object-fit: cover;
    }
    .wishlist-price{
        position: absolute;
        top: 70px;
        left: 100px;
    }
    table{
        margin-top: 70px;
        border-collapse: collapse;
        border-spacing: 0;
        border: 1px solid #ebebeb;
        width: 750px;
        margin-left: 70px;
        tr{
            border: 1px solid #ebebeb;
            td{
                padding-left: 20px;
            }
            td + td{
                border-left: 1px solid #ebebeb;
            }
            td>a{
                display: inline-block;
                margin: 20px;
            }
        }
    }
}
#switcher{
    position: fixed;
    height: 100%;
    width: 30px;
    right: 35%;
    >div{
        position: relative;
        border-left: 1px solid $color-blue;
        width: 30px;
        height: 25%;
        background-color: #f0f8ff;
        color: $color-blue;
        &:not(:first-child){
            border-top: 1px solid $color-blue;
        }
        &.active{
            background-color: #fff;
            border-left-width: 0;
        }
        i{
            position: absolute;
            top: 50%;left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
.hb{
    height: 250px;
}
.od-box{
    margin: 0 10px;
    border: 1px solid #ebebeb;
    h3{
        background-color: #ebebeb;
        margin: 0;
        padding: 5px 0;
        padding-left: 10px;
    }
    span{
        display: block;
        font-size: 13px;
        padding-top: 10px;padding-bottom: 10px;
    }
    >*{
        padding-left: 10px;
    }
}
.price-io{
    position: absolute;
    right: 20px;bottom: 20px;
}