    
    .avt{
        vertical-align: middle;
width: 6em;
height: 6em;
border-radius: 50%;
    }
    .avt2{
vertical-align: middle;
width: 50px;
height: 50px;
border-radius: 50%;
    }
    .name{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
        color: aqua;
    }
    .cot{            
float: left;
width: 38%;
margin: auto;
padding: 0 10px;
margin-top: 6px;

    }
 
    .right-top::after{
        content:'';
        display: table;
        clear: both;
    }
    .right-top .avt{
        display: block;
    }
    .right-top .infor{
        display: block;
    }
    .hide-md-lg {
display: none;
}
.outline{
display: block;
width: 100%;
height: 50px;
background-color: red;
}
.testA{
color:red;
font-size: 20px;
border:solid 1px gray;
border-radius: 20%;
background-color: lightgray;
}.dit {
display: inline-block;
width: 70px;
height: 70px;
margin: 6px;
background-color: #555;
}
.tg-box{
width: 100%;

overflow:auto;
padding-bottom:5px;
display: flex;
margin-bottom: 10px;
align-items: center;
.left-box{
    float: left;
    width: 30%;
    }
    .right-box{
    float: left;
    width: 70%;

    }
}


.hop{
    display: inline-block;
    width: 100%;

    .left-content{
        float: left;
        margin:0;
        padding:0;
        width:13%;
        p{
            font-size: 10px
            
        }
    }
    .content-Same   {
        float:left;
        width: 70%;
        margin-left: 20px;
        .post-title{
            margin-left: 0;
            padding: 0;
            .title-text{
                font-size: 20px;
                font-weight: 500;
                color:black;
                :hover{
                   color:#00b5acb0; 
                }      
            }
            .text-time{
                padding:0 ;
                margin:0;
            }
        }
        .post-footer{
            width: 100%;
            display: inline-block;
           .col1{
               float: left;
            width: 80%;
           }
           .col2{
               float: right;
               width: 14%;
                margin-top :7px;
                span{
                    color:rgba(0, 0, 0, 0.521);
                    padding-inline-end: 3px;
                }
           }
        }
    }
}



.tag{
    a{
        display: inline-block;
        margin-top: 7px;
        padding-left:5px;
    }
    .label {
        color: white;
        padding: 5px;
        font-family: Arial;
        font-size: 13px;
        border-radius: 5px;
        margin-top: 25px;
      }
      
      .text-tags {background-color: #E8E8E8; 
        color:rgba(31, 31, 31, 0.534);

    } /* Green */
}
.button{
    
}
.infor{
    span{
        font-size:14px;
    }
}
.content-head{
    padding-bottom: 20px;
}
.content-body{
    padding-top: 20px
}
.content-footer{
        width: 100%;
        display: inline-block;
       .col1{
        float: left;
        width: 80%;
       }
       .col2{
           float: right;
           width: 10%;
            
            span{
                color:rgba(0, 0, 0, 0.521);
                padding-inline-end: 3px;
            }
       }
    
}
.border1 {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-left: 10px;
  }
.card-body{
    background-color: #76c4ce;
    text-align: center;
    img{
        margin: 0 auto!important;
        display: block;
    }
}
#content-body img{
    height: 100%;
    width: 100%;
}
///PHAN CUA TU
  #content-body img{
                height: 100%;
                width: 100%;
            }
            .config h4{
                margin-bottom:auto;
            }
            .config small{
                margin-bottom:1px;
            }
            .editCmt{
                border-radius: 15px;
               background-color: #e5e5e5;
                word-wrap: break-word;
            }
            
            #contentHere img{
                height: 100%;
                width: 100%;
            }
            #editor{
                height:500px;
            }
            #contentHere{
                height: 100px;
            }
            q {font-style: italic;}
            /*---------------------------*/
////HEADER
$color-blue: #76c4ce;
$color-pink: #ee6c92;
$color-dark-pink: #ec5a84;
$color-border-pink: #db1952;


@mixin center-in-vertical() {  
    transform: translateY(-50%);  
    top: 50%;
}
@mixin center-in-horizontal() {  
    transform: translateX(-50%);  
    left: 50%;
}
@mixin center-in-both-dimen() {  
    transform: translate(-50%, -50%);  
    top: 50%;
    left: 50%;
}
@mixin triangle($height, $left, $right, $color){
    border-bottom: ($height / 2) solid transparent;
    border-top: ($height / 2) solid transparent;
    border-right: $right solid $color;
    border-left: $left solid $color;
}

@font-face{
    font-family:"Font Awesome 5 Brands";
    font-style:normal;font-weight:normal;
    font-display:auto;src:url(../library/fontawesome/webfonts/fa-brands-400.eot);
    src:url(../library/fontawesome/webfonts/fa-brands-400.eot?#iefix) format("embedded-opentype"),url(../library/fontawesome/webfonts/fa-brands-400.woff2) format("woff2"),url(../library/fontawesome/webfonts/fa-brands-400.woff) format("woff"),url(../library/fontawesome/webfonts/fa-brands-400.ttf) format("truetype"),url(../library/fontawesome/webfonts/fa-brands-400.svg#fontawesome) format("svg")}.fab{font-family:"Font Awesome 5 Brands"
}
@font-face{font-family:"Font Awesome 5 Pro";font-style:normal;font-weight:300;font-display:auto;src:url(../library/fontawesome/webfonts/fa-light-300.eot);src:url(../library/fontawesome/webfonts/fa-light-300.eot?#iefix) format("embedded-opentype"),url(../library/fontawesome/webfonts/fa-light-300.woff2) format("woff2"),url(../library/fontawesome/webfonts/fa-light-300.woff) format("woff"),url(../library/fontawesome/webfonts/fa-light-300.ttf) format("truetype"),url(../library/fontawesome/webfonts/fa-light-300.svg#fontawesome) format("svg")}.fal{font-weight:300}
@font-face{font-family:"Font Awesome 5 Pro";font-style:normal;font-weight:400;font-display:auto;src:url(../library/fontawesome/webfonts/fa-regular-400.eot);src:url(../library/fontawesome/webfonts/fa-regular-400.eot?#iefix) format("embedded-opentype"),url(../library/fontawesome/webfonts/fa-regular-400.woff2) format("woff2"),url(../library/fontawesome/webfonts/fa-regular-400.woff) format("woff"),url(../library/fontawesome/webfonts/fa-regular-400.ttf) format("truetype"),url(../library/fontawesome/webfonts/fa-regular-400.svg#fontawesome) format("svg")}.fal,.far{font-family:"Font Awesome 5 Pro"}.far{font-weight:400}
@font-face{font-family:"Font Awesome 5 Pro";font-style:normal;font-weight:900;font-display:auto;src:url(../library/fontawesome/webfonts/fa-solid-900.eot);src:url(../library/fontawesome/webfonts/fa-solid-900.eot?#iefix) format("embedded-opentype"),url(../library/fontawesome/webfonts/fa-solid-900.woff2) format("woff2"),url(../library/fontawesome/webfonts/fa-solid-900.woff) format("woff"),url(../library/fontawesome/webfonts/fa-solid-900.ttf) format("truetype"),url(../library/fontawesome/webfonts/fa-solid-900.svg#fontawesome) format("svg")}.fa,.fas{font-family:"Font Awesome 5 Pro";font-weight:900}


@font-face {
    font-family: 'Lilita One';
    font-style: normal;
    font-weight: 400;
    src: local('Lilita One'), local('LilitaOne'), url('../fonts/LilitaOne/cai-thunhat.woff2') format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Lilita One';
    font-style: normal;
    font-weight: 400;
    src: local('Lilita One'), local('LilitaOne'), url('../fonts/LilitaOne/caithuhai.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'MerriweatherSans';
    src: url('../fonts/MerriweatherSans-Regular/MerriweatherSans-Regular.eot');
    src: local('☺'), url('../fonts/MerriweatherSans-Regular/MerriweatherSans-Regular.woff') format('woff'), url('../fonts/MerriweatherSans-Regular/MerriweatherSans-Regular.ttf') format('truetype'), url('../fonts/MerriweatherSans-Regular/MerriweatherSans-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
    background-color: #f5f5f5;
    &.square{
        overflow: hidden;
    }
    a{
        &:hover, &:active, &:focus{
            text-decoration: none!important;
        }
    }
    //header
    .top-nav{
        color: #bbe6eb;
        background-color: $color-blue;
        a{
            color: #fff!important;
            transition: .1s ease-in-out;
            &:hover{
                color: #ccf4f9 !important;
            }
        }
        .top-nav-welcome{
            padding: 13px 0;
            float: left;
            font-size: 11px;
            font-family: 'MerriweatherSans';
            #name{
                color: #fff;
            }
        }
        .top-nav-tools{
            padding: 7px 0;
            float: right;
            ul{
                padding: 0;
                margin: 0;
                list-style: none;
                li{
                    font-size: 10px;
                    font-family: 'MerriweatherSans';
                    display: inline-block;
                    padding: 0px 10px;
                    #tools-setting{
                        padding: 5px 10px;
                        border: 1px solid #bbe6eb;
                    }
                }
            }
        }
    }
    .header-main{
        padding: 30px 0;
        font-family: 'MerriweatherSans';
        .header-logo{
            float: left;
            width: 25%;
        }
        .header-service{
            float: left;
            width: 50%;
            .box-icon{
                float: left;
                width: 32px;
                height: 32px;
                background-color: #eeeeee;
                position: relative;

                i{
                    position: absolute;
                    @include center-in-both-dimen();
                }
            }
            .pull-left{
                float: left;
                width: 33.33333%;
            }
            .media-body{
                float: left;
                width: calc(100% - 32px);
                padding-left: 5px;
                h4{
                    font-size: 10px;
                    margin: 0;
                    font-weight: bold;
                    text-transform: uppercase;
                }
                p{
                    font-size: 11px;
                    color: #777;
                }
            }
        }
        .header-cart{
            float: left;
            width: 25%;
            padding-left: 125px;
            .title-cart{
                float: left;
                width: 32px;
                height: 32px;
                background-color: $color-pink;
                position: relative;

                i{
                    position: absolute;
                    @include center-in-both-dimen();
                }
            }
            .cart-inner{
                float: left;
                width: calc(100% - 32px);
                padding-left: 5px;
                span{
                    font-size: 11px;
                    color: #777;
                }
                .cart-title{
                    color: #000;
                    font-size: 10px;
                    font-weight: bold;
                    text-transform: uppercase;
                }
            }
            .cart-title{
                display: block;
            }
        }
    }
    .navigation{
        background: #e5e5e5;
        .container{
            position: relative;
        }
        .layout-padding, .layout-padding-gt-sm, .layout-padding-gt-sm>*, .layout-padding-md, .layout-padding-md>*, .layout-padding>*, .layout-padding>.flex, .layout-padding>.flex-gt-sm, .layout-padding>.flex-md {
            padding: 0;
        }
        md-autocomplete {
            height: auto;
        }
        md-autocomplete md-autocomplete-wrap {
            height: auto;
        }
        #form-autocomplete{
            display: inline-block;
            position: absolute;
            right: 25px;
            z-index: 99994;
            @include center-in-vertical();
        }
        form{
            input{
                border: none;
                height: 30px; 
                width: 200px;
                padding-left: 10px; 
                &:focus{
                    outline: none;
                }
            }
            button{
                height: 30px;
                width: 30px;
                box-shadow: none;
                border: none;
                background-color: #aaa;
                color: #fff;
                &:focus{
                    outline: none;
                }
            }
            #result-suggest{
                position: absolute;
                top: 100%;
                right: -1px;
                left: -1px;
                background-color: #fff;
                border: 1px solid #e5e5e5;
                border-top: 0;
                p{
                    margin: 0;
                    padding: 10px;
                }
                >p:hover{
                    background-color: #e5e5e5;
                }
            }
        }
        ul{
            padding: 0;
            margin-top: 0;margin-bottom: 0;
            list-style: none;
            li{
                float: left;
                a{
                    padding: 15px;
                    display: block;
                    color: #fff;
                    // font-family: 'Lilita One';
                    text-transform: uppercase;
                    font-family: 'Lilita One', cursive;
                    &:hover{
                        background-color: #aaa;
                    }
                }
                &:hover ul{
                    z-index: 100000000;
                    opacity: 1;
                }
                ul{
                    position: absolute;
                    opacity: 0;
                    z-index: -100000000;
                    width: 200px;
                    li{
                        float: unset;
                        background-color: #e5e5e5;
                    }
                }
            }
        }
    }
    //end header
}

  .content-n-cart{
        position: relative;
        .content{
            position: absolute;
            top: 0;
            width: 100%;
            left: 0;
            transition: 0.3s ease;
            .clickdetrove{
                right: 0;
                opacity: 0;
                transition: 0.3s ease;
            }
            .clickdetrove.havemodal{
                position: fixed;
                top: 0; left: 0; right: 0; bottom: 0;
                background-color: #0000005c;
                z-index: 100000;
                opacity:1;
            }
            .modal-form{
                padding: 20px;
                width: 500px;
                overflow: auto;
                max-height: 100%;
                background-color: #fff;
                position: fixed;
                @include center-in-both-dimen();
                z-index: 100001;
                .form-in-modal{
                    padding: 10px 18px;
                    margin-bottom: 20px;
                    display: block;
                    width: 100%;    
                }
                div.form-in-modal{
                    input{
                        visibility: hidden;
                        position: absolute;
                        &:checked ~ i.fa-female{
                            color: $color-pink;
                        }
                        &:checked ~ i.fa-male{
                            color: $color-blue;
                        }
                        &:checked ~ span{
                            font-weight: bold;
                            color: #000;
                        }
                    }
                    i{
                        color: #ccc;
                        font-size: 20px;
                    }
                    span{
                        font-weight: normal;
                        color: #ccc;
                    }
                }
                .label-form-modal{
                    margin-bottom: 5px;
                    display: block;
                }
                div>a{
                    color: $color-blue;
                    &:hover{
                        color: #a8e5ec;
                    }
                }
                a.db-tac{
                    margin-bottom: 5px;
                    color: $color-blue;
                    &:hover{
                        color: #a8e5ec;
                    }
                }
                .db-tac{
                    display: block;
                    text-align: center;
                }
                button{
                    padding: 5px;
                    background-color: $color-blue;
                    border: 1px solid $color-blue;
                    color: #fff;
                    width: max-content;
                    margin: 0 auto;
                    &:hover{
                        background-color: #fff;
                        color: $color-blue;
                    }
                }
            }
        }
        
    }

///FOOTER
.footer{
    margin-top: 20px;
    background-color: #444;
    color: #fff;
    a,p{
        color: #c2c2c2;
    }
    .footer-tu{
        padding-top: 50px;
        .container>div{
            float: left;
        }
        h3{
            margin: 0;
        }
        ul{
            margin: 0;
            padding: 0;
            list-style: none;
            li{
                a{
                    display: block;
                    position: relative;
                    padding-left: 10px;
                    &:before{
                        content: "\f0da";
                        position: absolute;
                        font-family: "Font Awesome 5 Pro";
                        font-weight: 900;
                        left: 0;
                        @include center-in-vertical();
                    }
                }
            }
        }
    }
    .footer-copyright{
        box-shadow: 0px -10px 20px 0px #00000038;
        text-align: center;
        color: #c2c2c2;
        padding-top: 30px;
        padding-bottom: 20px;
        span{
            display: block;
        }
    }
}

.review-tu{
    padding-top: 10px;
    padding-bottom: 10px;
    .star-review{
        float: left;
        position: relative;
        width: max-content;
        color: #e5e5e5;
        .star-reviewed{
            position: absolute;
            top: 0;
            color: #fc0;
            overflow: hidden;
            white-space: nowrap;
        }
    }
    .quantity-review{
        float: right;
    }
}

@-webkit-keyframes fadeInDownModal {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0) translate(-50%, -50%);
        transform: translate3d(0, -100%, 0) translate(-50%, -50%);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0) translate(-50%, -50%);
        transform: translate3d(0, 0, 0) translate(-50%, -50%);
    }
}

@keyframes fadeInDownModal {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0) translate(-50%, -50%);
        transform: translate3d(0, -100%, 0) translate(-50%, -50%);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0) translate(-50%, -50%);
        transform: translate3d(0, 0, 0) translate(-50%, -50%);
    }
}

.fadeInDownModal {
    -webkit-animation-name: fadeInDownModal;
    animation-name: fadeInDownModal;
}
.fadeInDownMsg {
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -webkit-animation-name: fadeInDownModal;
    animation-name: fadeInDownModal;
}
.pagination>li>a, .pagination>li>span{
    background-color: transparent;
    border-color: transparent;
    color: #333!important;
    font-family: 'MerriweatherSans';

}
.pagination>.disabled>a,
 .pagination>.disabled>a:focus,
  .pagination>.disabled>a:hover,
   .pagination>.disabled>span,
    .pagination>.disabled>span:focus,
     .pagination>.disabled>span:hover{
         background-color: transparent;
         border-color: transparent;
     }
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover{
    background-color: transparent;
    border-color: #ddd;
}
.pt20{padding-top: 20px;}.pb20{padding-bottom: 20px;}
.fz11{font-size: 11px;}.fz13{font-size: 13px;}.fz15{font-size: 15px;}


#abcxyz{
    z-index: -1000;
    opacity: 0;
    position: fixed;
    transition: 0.3s ease-in-out;
    bottom: 40px;
    right: 40px;
    background: $color-pink;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    i{
        position: absolute;
        color: #fff;
        @include center-in-both-dimen();
    }
    &.hienlen{
        opacity: 1;
        z-index: 1000;
    }
    &:hover{
        background-color: $color-blue;
        box-shadow: 4px 4px 4px #0000004a;
    }
    &:active{
        box-shadow: 0px 0px;
    }
}
.review-tu .quantity-review.numrv{
    float: left;
    padding-left: 10px;
}