body {
  background-color: #fff;
}

.main {
  padding-top: 70px;
  padding-right: 70px;
}

.main > h4 {
  font-size: 28px;
  color: #333333;
}

.main > p {
  font-size: 18px;
  color: #333333;
  margin-bottom: 30px;
}

.main #breadcum {
  margin-bottom: 25px;
}

.main #conInf-ca {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.main #conInf-ca #img-coninfca {
  background-image: url("../../img/blankava.png");
  height: 50px;
  width: 50px;
  background-size: 50px 50px;
  border-radius: 50%;
}

.main #conInf-ca img {
  height: 50px;
  width: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

.main #conInf-ca > div#ifo-conifi {
  padding-left: 5px;
  padding: 5px 0;
}

.main #conInf-ca > div#ifo-conifi p {
  margin: 0;
  line-height: 20px;
}

.main input {
  padding: 10px;
  border: 1px solid #e5e5e5;
  display: block;
  width: 100%;
  margin-bottom: 15px;
}

.main .navigator-purchase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .navigator-purchase #backtoprev {
  float: left;
}

.main .navigator-purchase #nexttocontinue {
  float: right;
  padding: 20px 25px;
  color: #ffffff;
  text-decoration: none;
  background-color: #1990c6;
  border: 1px solid #136f99;
}

.main .navigator-purchase #nexttocontinue:hover {
  text-decoration: none;
  background-color: #136f99;
}

.side-bar {
  background-color: #f5f5f5;
  border-left: 1px solid #e5e5e5;
  padding-top: 70px;
  padding-left: 50px;
  position: fixed;
  right: 0;
  padding-right: 50px;
  bottom: 0;
  top: 0;
}

.side-bar .list-cart {
  padding-bottom: 35px;
  border-bottom: 1px solid #e5e5e5;
}

.side-bar .list-cart .ci-pu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.side-bar .list-cart .ci-pu > div.imgcipu {
  width: 70px;
  height: 70px;
}

.side-bar .list-cart .ci-pu > div.imgcipu img {
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
}

.side-bar .list-cart .ci-pu > div.imgcipu span {
  width: 20px;
  height: 20px;
  line-height: 20px;
  background-color: #ccc;
  border-radius: 50%;
}

.side-bar .mathing {
  padding: 40px 0;
}

.side-bar .mathing > div:not(:first-child) {
  padding-top: 20px;
}

.side-bar div .leftkey {
  float: left;
}

.side-bar div .rightvalue {
  float: right;
  font-weight: bold;
}

.side-bar .total-to-ca {
  padding-top: 45px;
  border-top: 1px solid #e5e5e5;
}

.side-bar .total-to-ca > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side-bar .total-to-ca .rightvalue {
  font-size: 30px;
}
/*# sourceMappingURL=purchase.css.map */