body{
    background-color: #fff;
}
.main{
    padding-top: 70px;
    padding-right: 70px;
    >h4{
        font-size: 28px;
        color: #333333;
    }
    >p{
        font-size: 18px;
        color: #333333;
        margin-bottom: 30px;
    }
    #breadcum{
        margin-bottom: 25px;
    }
    #conInf-ca{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        #img-coninfca{
            background-image: url("../../img/blankava.png");
            height: 50px;
            width: 50px;
            background-size: 50px 50px;
            border-radius: 50%;
        }
        img{
            height: 50px;
            width: 50px;
            object-fit: cover;
        }
        >div#ifo-conifi {
            padding-left: 5px;
            padding: 5px 0;
            p{
                margin: 0;
                line-height: 20px
            }
        }
    }
    input{
        padding: 10px;
        border: 1px solid #e5e5e5;
        display: block;
        width: 100%;
        margin-bottom: 15px;
    }
    .navigator-purchase{
        display: flex;
        align-items: center;
        justify-content: space-between;
        #backtoprev{
            float: left;
        }
        #nexttocontinue{
            float: right;
            padding: 20px 25px;
            color: #ffffff;
            text-decoration: none;
            background-color: #1990c6;
            border: 1px solid #136f99;
            &:hover{
                text-decoration: none;
                background-color: #136f99;
            }
        }
    }
}
.side-bar{
    background-color: #f5f5f5;
    border-left: 1px solid #e5e5e5;
    padding-top: 70px;
    padding-left: 50px;
    
    position: fixed;
    right: 0;
    padding-right: 50px;
    bottom: 0;
    top: 0;
    
    .list-cart{
        padding-bottom: 35px;
        border-bottom: 1px solid #e5e5e5;
        .ci-pu{///cart item
            display: flex;
            align-items: center;
            justify-content: space-between;
            >div.imgcipu{
                width: 70px;
                height: 70px;
                img{
                    width: 70px;
                    height: 70px;
                    object-fit: cover;
                }
                span{
                    width: 20px;
                    height: 20px;
                    line-height: 20px;
                    background-color: #ccc;
                    border-radius: 50%;
                }
            }
        }
    }
    .mathing{
        padding: 40px 0;
        >div:not(:first-child){
            padding-top: 20px;
        }
    }
    div{
        .leftkey{
            float: left;
        }
        .rightvalue{
            float: right;
            font-weight: bold;
        }
    }
    .total-to-ca{
        padding-top: 45px;
        border-top: 1px solid #e5e5e5;
        >div{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .rightvalue{
            font-size: 30px;
        }
    }
}