@charset "UTF-8";
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f5f5f5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #76c4ce;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ee6c92;
}

#dangcap {
  /*  animation: dangcap1 1.5s infinite;*/
  position: fixed;
  background-color: #f5f5f5;
  /*opacity: 1;*/
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1000000000000;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-32px, -32px);
          transform: translate(-32px, -32px);
}

.lds-ring div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #76c4ce;
  border-radius: 50%;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #76c4ce transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}

@-webkit-keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@font-face {
  font-family: "Font Awesome 5 Brands";
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url(../library/fontawesome/webfonts/fa-brands-400.eot);
  src: url(../library/fontawesome/webfonts/fa-brands-400.eot?#iefix) format("embedded-opentype"), url(../library/fontawesome/webfonts/fa-brands-400.woff2) format("woff2"), url(../library/fontawesome/webfonts/fa-brands-400.woff) format("woff"), url(../library/fontawesome/webfonts/fa-brands-400.ttf) format("truetype"), url(../library/fontawesome/webfonts/fa-brands-400.svg#fontawesome) format("svg");
}

.fab {
  font-family: "Font Awesome 5 Brands";
}

@font-face {
  font-family: "Font Awesome 5 Pro";
  font-style: normal;
  font-weight: 300;
  font-display: auto;
  src: url(../library/fontawesome/webfonts/fa-light-300.eot);
  src: url(../library/fontawesome/webfonts/fa-light-300.eot?#iefix) format("embedded-opentype"), url(../library/fontawesome/webfonts/fa-light-300.woff2) format("woff2"), url(../library/fontawesome/webfonts/fa-light-300.woff) format("woff"), url(../library/fontawesome/webfonts/fa-light-300.ttf) format("truetype"), url(../library/fontawesome/webfonts/fa-light-300.svg#fontawesome) format("svg");
}

.fal {
  font-weight: 300;
}

@font-face {
  font-family: "Font Awesome 5 Pro";
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url(../library/fontawesome/webfonts/fa-regular-400.eot);
  src: url(../library/fontawesome/webfonts/fa-regular-400.eot?#iefix) format("embedded-opentype"), url(../library/fontawesome/webfonts/fa-regular-400.woff2) format("woff2"), url(../library/fontawesome/webfonts/fa-regular-400.woff) format("woff"), url(../library/fontawesome/webfonts/fa-regular-400.ttf) format("truetype"), url(../library/fontawesome/webfonts/fa-regular-400.svg#fontawesome) format("svg");
}

.fal, .far {
  font-family: "Font Awesome 5 Pro";
}

.far {
  font-weight: 400;
}

@font-face {
  font-family: "Font Awesome 5 Pro";
  font-style: normal;
  font-weight: 900;
  font-display: auto;
  src: url(../library/fontawesome/webfonts/fa-solid-900.eot);
  src: url(../library/fontawesome/webfonts/fa-solid-900.eot?#iefix) format("embedded-opentype"), url(../library/fontawesome/webfonts/fa-solid-900.woff2) format("woff2"), url(../library/fontawesome/webfonts/fa-solid-900.woff) format("woff"), url(../library/fontawesome/webfonts/fa-solid-900.ttf) format("truetype"), url(../library/fontawesome/webfonts/fa-solid-900.svg#fontawesome) format("svg");
}

.fa, .fas {
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
}

@font-face {
  font-family: 'Lilita One';
  font-style: normal;
  font-weight: 400;
  src: local("Lilita One"), local("LilitaOne"), url("../fonts/LilitaOne/cai-thunhat.woff2") format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Lilita One';
  font-style: normal;
  font-weight: 400;
  src: local("Lilita One"), local("LilitaOne"), url("../fonts/LilitaOne/caithuhai.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'MerriweatherSans';
  src: url("../fonts/MerriweatherSans-Regular/MerriweatherSans-Regular.eot");
  src: local("☺"), url("../fonts/MerriweatherSans-Regular/MerriweatherSans-Regular.woff") format("woff"), url("../fonts/MerriweatherSans-Regular/MerriweatherSans-Regular.ttf") format("truetype"), url("../fonts/MerriweatherSans-Regular/MerriweatherSans-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #f5f5f5;
  overflow-y: scroll !important;
}

body.square {
  position: fixed;
  width: 100%;
  top: 0;
}

body a:hover, body a:active, body a:focus {
  text-decoration: none !important;
}

body .top-nav {
  color: #bbe6eb;
  background-color: #76c4ce;
}

body .top-nav a {
  color: #fff !important;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

body .top-nav a:hover {
  color: #ccf4f9 !important;
}

body .top-nav .top-nav-welcome {
  padding: 13px 0;
  float: left;
  font-size: 11px;
  font-family: 'MerriweatherSans';
}

body .top-nav .top-nav-welcome #name {
  color: #fff;
}

body .top-nav .top-nav-tools {
  padding: 7px 0;
  float: right;
}

body .top-nav .top-nav-tools ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

body .top-nav .top-nav-tools ul li {
  font-size: 10px;
  font-family: 'MerriweatherSans';
  display: inline-block;
  padding: 0px 10px;
}

body .top-nav .top-nav-tools ul li #tools-setting {
  padding: 5px 10px;
  border: 1px solid #bbe6eb;
}

body .header-main {
  padding: 30px 0;
  font-family: 'MerriweatherSans';
}

body .header-main .header-logo {
  float: left;
  width: 25%;
}

body .header-main .header-service {
  float: left;
  width: 50%;
}

body .header-main .header-service .box-icon {
  float: left;
  width: 32px;
  height: 32px;
  background-color: #eeeeee;
  position: relative;
}

body .header-main .header-service .box-icon i {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

body .header-main .header-service .pull-left {
  float: left;
  width: 33.33333%;
}

body .header-main .header-service .media-body {
  float: left;
  width: calc(100% - 32px);
  padding-left: 5px;
}

body .header-main .header-service .media-body h4 {
  font-size: 10px;
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
}

body .header-main .header-service .media-body p {
  font-size: 11px;
  color: #777;
}

body .header-main .header-cart {
  float: left;
  width: 25%;
  padding-left: 125px;
}

body .header-main .header-cart .title-cart {
  float: left;
  width: 32px;
  height: 32px;
  background-color: #ee6c92;
  position: relative;
}

body .header-main .header-cart .title-cart i {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

body .header-main .header-cart .cart-inner {
  float: left;
  width: calc(100% - 32px);
  padding-left: 5px;
}

body .header-main .header-cart .cart-inner span {
  font-size: 11px;
  color: #777;
}

body .header-main .header-cart .cart-inner .cart-title {
  color: #000;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

body .header-main .header-cart .cart-title {
  display: block;
}

body .navigation {
  background: #e5e5e5;
}

body .navigation .container {
  position: relative;
}

body .navigation .layout-padding, body .navigation .layout-padding-gt-sm, body .navigation .layout-padding-gt-sm > *, body .navigation .layout-padding-md, body .navigation .layout-padding-md > *, body .navigation .layout-padding > *, body .navigation .layout-padding > .flex, body .navigation .layout-padding > .flex-gt-sm, body .navigation .layout-padding > .flex-md {
  padding: 0;
}

body .navigation md-autocomplete {
  height: auto;
}

body .navigation .md-whiteframe-1dp, body .navigation .md-whiteframe-z1 {
  -webkit-box-shadow: 0 0;
          box-shadow: 0 0;
}

body .navigation md-autocomplete md-autocomplete-wrap {
  height: auto;
}

body .navigation #form-autocomplete {
  display: inline-block;
  position: absolute;
  right: 25px;
  z-index: 99994;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
}

body .navigation form {
  position: relative;
  margin-right: 30px;
}

body .navigation form input {
  border: none;
  height: 30px;
  width: 200px;
  padding-left: 10px;
}

body .navigation form input:focus {
  outline: none;
}

body .navigation form button {
  position: absolute;
  top: 0;
  right: 0;
}

body .navigation form button#search-button {
  height: 30px;
  width: 30px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  background-color: #aaa;
  color: #fff;
  position: absolute;
  top: 0;
  left: 100%;
}

body .navigation form button#search-button:focus {
  outline: none;
}

body .navigation form #result-suggest {
  position: absolute;
  top: 100%;
  right: -1px;
  left: -1px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-top: 0;
}

body .navigation form #result-suggest p {
  margin: 0;
  padding: 10px;
}

body .navigation form #result-suggest > p:hover {
  background-color: #e5e5e5;
}

body .navigation ul {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

body .navigation ul li {
  float: left;
}

body .navigation ul li a {
  padding: 15px;
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Lilita One', cursive;
}

body .navigation ul li a:hover {
  background-color: #aaa;
}

body .navigation ul li:hover ul {
  z-index: 100000000;
  opacity: 1;
}

body .navigation ul li ul {
  position: absolute;
  opacity: 0;
  z-index: -100000000;
  width: 200px;
}

body .navigation ul li ul li {
  float: unset;
  background-color: #e5e5e5;
}

body .web-body {
  padding-top: 20px;
}

body .web-body .left-column {
  float: left;
  width: 25%;
  padding: 0 15px;
}

body .web-body .left-column .categories {
  background-color: #ee6c92;
  border: 1px solid #db1952;
}

body .web-body .left-column .categories .title-bar-categories {
  background-color: #db1952;
  font-family: 'Lilita One', cursive;
  margin: 0;
  text-transform: uppercase;
  padding: 10px;
  padding-left: 55px;
  color: #fff;
  position: relative;
}

body .web-body .left-column .categories .title-bar-categories i {
  left: 25px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  position: absolute;
}

body .web-body .left-column .categories ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body .web-body .left-column .categories ul li {
  border-top: 1px solid #fff;
  padding-left: 60px;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
}

body .web-body .left-column .categories ul li a {
  color: #fff;
}

body .web-body .left-column .categories ul li a > i {
  position: absolute;
  right: -1px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
}

body .web-body .left-column .categories ul li .categories-title {
  position: relative;
  color: #fff;
  display: block;
}

body .web-body .left-column .categories ul li .categories-title i {
  color: #f7c7d5;
  position: absolute;
  left: -35px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
}

body .web-body .left-column .categories ul li .categories-desc {
  color: #f7c7d5;
}

body .web-body .left-column .block-title-n-slide-left .left-vertical-product-slide {
  background-color: #fff;
  border: 1px solid #e5e5e5;
}

body .web-body .left-column .block-title-n-slide-left .left-vertical-product-slide .product-info {
  border: none;
  padding-bottom: 0;
}

body .web-body .left-column .block-title-n-slide-left .left-vertical-product-slide .product-item {
  padding: 20px;
}

body .web-body .left-column .block-title-n-slide-left .left-vertical-product-slide .product-item:first-child {
  border-bottom: 1px solid #e5e5e5;
}

body .web-body .right-column {
  float: left;
  width: 75%;
  padding: 0 15px;
}

body .web-body .slide-banner-tu .owl-carousel {
  position: relative;
}

body .web-body .slide-banner-tu .owl-carousel:hover .owl-nav button.owl-next {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

body .web-body .slide-banner-tu .owl-carousel:hover .owl-nav button.owl-prev {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

body .web-body .slide-banner-tu .owl-carousel .owl-nav {
  position: absolute;
  width: 100%;
  overflow: hidden;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
}

body .web-body .slide-banner-tu .owl-carousel .owl-nav button.owl-prev {
  border-bottom: 25px solid transparent;
  border-top: 25px solid transparent;
  border-right: 0px solid #fff;
  border-left: 25px solid #fff;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: .4s;
  transition: .4s;
  position: relative;
}

body .web-body .slide-banner-tu .owl-carousel .owl-nav button.owl-prev:focus {
  outline: none;
}

body .web-body .slide-banner-tu .owl-carousel .owl-nav button.owl-prev:hover {
  border-left-color: #ee6c92;
  color: #fff;
}

body .web-body .slide-banner-tu .owl-carousel .owl-nav button.owl-prev span {
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  left: -20px;
}

body .web-body .slide-banner-tu .owl-carousel .owl-nav button.owl-next {
  float: right;
  border-bottom: 25px solid transparent;
  border-top: 25px solid transparent;
  border-right: 25px solid #fff;
  border-left: 0px solid #fff;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: .4s;
  transition: .4s;
  position: relative;
}

body .web-body .slide-banner-tu .owl-carousel .owl-nav button.owl-next:focus {
  outline: none;
}

body .web-body .slide-banner-tu .owl-carousel .owl-nav button.owl-next:hover {
  border-right-color: #ee6c92;
  color: #fff;
}

body .web-body .slide-banner-tu .owl-carousel .owl-nav button.owl-next span {
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  right: -20px;
}

body .web-body .event {
  margin-top: 20px;
}

body .web-body .event a {
  display: block;
  position: relative;
}

body .web-body .event a:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 0px solid #cccccc61;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

body .web-body .event a:hover:after {
  border-width: 25px;
}

body .web-body .event a img {
  width: 100%;
}

body .web-body .title-row {
  margin-top: 20px;
  color: #fff;
  padding: 7px;
  padding-left: 30px;
  padding-right: 0;
  background-color: #76c4ce;
  text-transform: uppercase;
  position: relative;
  font-family: "MerriweatherSans";
}

body .web-body .title-row > span {
  font-weight: bold;
}

body .web-body .title-row:after {
  content: '';
  position: absolute;
  height: 1px;
  width: 20px;
  background-color: #f5f5f5;
  top: 50%;
  left: 3px;
}

body .web-body .title-row:before {
  content: '';
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  border-right: 0px solid #f5f5f5;
  border-left: 5px solid #f5f5f5;
  left: 0;
}

body .web-body .product-block {
  background-color: #fff;
  padding: 0 20px;
  border: 1px solid #e5e5e5;
}

body .web-body .product-block > .row + .row .product-item:before {
  content: '';
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  background-color: #e5e5e5;
  width: calc(100% - 30px);
  position: absolute;
  height: 1px;
  top: 0px;
}

body .web-body .product-block > .row .product-item {
  float: left;
  width: 25%;
  background-color: #fff;
  padding: 30px 20px;
  position: relative;
}

body .web-body .product-block > .row .product-item:not(:last-child):after {
  content: '';
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  background-color: #e5e5e5;
  height: calc(100% - 30px);
  position: absolute;
  width: 1px;
  right: 0px;
}

body .web-body .product-slide {
  background-color: #fff;
  border: 1px solid #e5e5e5;
}

body .web-body .product-slide .owl-item {
  position: relative;
  padding: 20px;
}

body .web-body .product-slide .owl-item.active + .owl-item.active:after {
  position: absolute;
  content: '';
  background-color: #e5e5e5;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  width: 1px;
  height: calc(100% - 40px);
}

body .web-body .block-slide-n-title {
  padding-bottom: 20px;
  padding-top: 20px;
}

body .content-n-cart {
  position: relative;
}

body .content-n-cart .content {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

body .content-n-cart .content .clickdetrove {
  right: 0;
  opacity: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

body .content-n-cart .content .clickdetrove.havemodal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000005c;
  z-index: 100000;
  opacity: 1;
}

body .content-n-cart .content .modal-form {
  padding: 20px;
  width: 500px;
  overflow: auto;
  max-height: 100%;
  background-color: #fff;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 100001;
}

body .content-n-cart .content .modal-form .form-in-modal {
  padding: 10px 18px;
  margin-bottom: 20px;
  display: block;
  width: 100%;
}

body .content-n-cart .content .modal-form div.form-in-modal input {
  visibility: hidden;
  position: absolute;
}

body .content-n-cart .content .modal-form div.form-in-modal input:checked ~ i.fa-female {
  color: #ee6c92;
}

body .content-n-cart .content .modal-form div.form-in-modal input:checked ~ i.fa-male {
  color: #76c4ce;
}

body .content-n-cart .content .modal-form div.form-in-modal input:checked ~ span {
  font-weight: bold;
  color: #000;
}

body .content-n-cart .content .modal-form div.form-in-modal i {
  color: #ccc;
  font-size: 20px;
}

body .content-n-cart .content .modal-form div.form-in-modal span {
  font-weight: normal;
  color: #ccc;
}

body .content-n-cart .content .modal-form .label-form-modal {
  margin-bottom: 5px;
  display: block;
}

body .content-n-cart .content .modal-form div > a {
  color: #76c4ce;
}

body .content-n-cart .content .modal-form div > a:hover {
  color: #a8e5ec;
}

body .content-n-cart .content .modal-form a.db-tac {
  margin-bottom: 5px;
  color: #76c4ce;
}

body .content-n-cart .content .modal-form a.db-tac:hover {
  color: #a8e5ec;
}

body .content-n-cart .content .modal-form .db-tac {
  display: block;
  text-align: center;
}

body .content-n-cart .content .modal-form button {
  padding: 5px;
  background-color: #76c4ce;
  border: 1px solid #76c4ce;
  color: #fff;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}

body .content-n-cart .content .modal-form button:hover {
  background-color: #fff;
  color: #76c4ce;
}

body .content-n-cart .content.vao {
  left: -330px;
}

body .content-n-cart .content.vao .clickdetrove {
  position: fixed;
  top: 0;
  left: 0;
  right: 330px;
  bottom: 0;
  background-color: #0000005c;
  z-index: 100000;
  opacity: 1;
}

body .content-n-cart .cart {
  right: -330px;
  top: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  position: fixed;
  width: 330px;
  height: 100%;
  background-color: #fff;
  padding: 0 10px;
}

body .content-n-cart .cart > h2 {
  margin: 0;
  padding: 15px 0;
  font-family: 'MerriweatherSans';
  font-size: 25px;
}

body .content-n-cart .cart #toCart, body .content-n-cart .cart #Checkout {
  color: #000;
  font-family: 'MerriweatherSans';
  display: block;
  padding: 15px;
  text-align: center;
  border: 1px solid #ededed;
}

body .content-n-cart .cart #toCart:hover, body .content-n-cart .cart #Checkout:hover {
  background-color: #76c4ce;
  text-decoration: none;
  color: #fff;
}

body .content-n-cart .cart #toCart {
  margin-bottom: 5px;
}

body .content-n-cart .cart #Checkout {
  font-size: 16px;
}

body .content-n-cart .cart.ra {
  right: 0;
}

.product-item .image-product {
  position: relative;
}

.product-item .image-product a {
  display: block;
}

.product-item .image-product a:after {
  content: '';
  background-color: #00000000;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  font-family: 'MerriweatherSans';
  line-height: 140px;
  text-align: center;
}

.product-item .image-product a:hover:after {
  background-color: #00000099;
  content: 'View product';
}

.product-item .image-product a:not(:last-child) {
  display: block;
}

.product-item .image-product a:not(:last-child):after {
  background-color: #00000099;
  content: "" !important;
}

.product-item .image-product .notificate-product {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: #fff;
  font-family: "MerriweatherSans";
  text-align: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.product-item .image-product img {
  display: block;
  margin: 0 auto;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  width: 160px;
  height: 140px;
}

.product-item .product-info {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 10px;
}

.product-item .product-info > a {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
  font-family: "MerriweatherSans";
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #333;
}

.product-item .product-info > a:hover {
  text-decoration: none;
  color: #ee6c92;
}

.product-item .product-info .price {
  color: #76c4ce;
  font-weight: bold;
}

.product-item .product-info .old-price {
  text-decoration: line-through;
}

.product-item .product-info .new-price {
  color: #db1952;
  font-weight: bold;
}

.product-item .review-n-button-tu .button-tu .btn-addtocart {
  float: left;
  border: 1px solid #e5e5e5;
  width: calc(100% - 30px);
  cursor: pointer;
}

.product-item .review-n-button-tu .button-tu .btn-addtocart:hover > span.icon-btn {
  background-color: #76c4ce;
}

.product-item .review-n-button-tu .button-tu .btn-addtocart:hover > span.tool-title {
  color: #76c4ce;
}

.product-item .review-n-button-tu .button-tu .btn-addtocart:focus {
  outline: none;
}

.product-item .review-n-button-tu .button-tu .btn-addtocart > span.icon-btn {
  padding: 5px;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  width: 30px;
  height: 30px;
  background-color: #ee6c92;
  display: inline-block;
  text-align: center;
  position: relative;
}

.product-item .review-n-button-tu .button-tu .btn-addtocart > span.icon-btn i {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  color: #fff;
}

.product-item .review-n-button-tu .button-tu .btn-addtocart > span.tool-title {
  float: left;
  width: calc(100% - 30px);
  text-align: center;
  padding: 5px;
  display: inline-block;
}

.product-item .review-n-button-tu .button-tu .btn-love.added span {
  -webkit-box-shadow: inset 0px 0px 4px #db195261;
          box-shadow: inset 0px 0px 4px #db195261;
}

.product-item .review-n-button-tu .button-tu .btn-love.added span i {
  color: #db1952;
}

.product-item .review-n-button-tu .button-tu .btn-love {
  float: left;
  border: 1px solid #e5e5e5;
  border-left: 0px;
  cursor: pointer;
  width: 30px;
}

.product-item .review-n-button-tu .button-tu .btn-love:focus {
  outline: none;
}

.product-item .review-n-button-tu .button-tu .btn-love span {
  display: block;
  text-align: center;
  padding: 5px;
}

.product-item .review-n-button-tu .button-tu .btn-love span i {
  font-size: 10px;
  color: #ee6c92;
}

.product-item .review-n-button-tu .button-tu .btn-love:hover span i {
  color: #db1952;
}

.footer {
  margin-top: 20px;
  background-color: #444;
  color: #fff;
}

.footer a, .footer p {
  color: #c2c2c2;
}

.footer .footer-tu {
  padding-top: 50px;
}

.footer .footer-tu .container > div {
  float: left;
}

.footer .footer-tu h3 {
  margin: 0;
}

.footer .footer-tu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer .footer-tu ul li a {
  display: block;
  position: relative;
  padding-left: 10px;
}

.footer .footer-tu ul li a:before {
  content: "\f0da";
  position: absolute;
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
}

.footer .footer-copyright {
  -webkit-box-shadow: 0px -10px 20px 0px #00000038;
          box-shadow: 0px -10px 20px 0px #00000038;
  text-align: center;
  color: #c2c2c2;
  padding-top: 30px;
  padding-bottom: 20px;
}

.footer .footer-copyright span {
  display: block;
}

.review-tu {
  padding-top: 10px;
  padding-bottom: 10px;
}

.review-tu .star-review {
  float: left;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #e5e5e5;
}

.review-tu .star-review .star-reviewed {
  position: absolute;
  top: 0;
  color: #fc0;
  overflow: hidden;
  white-space: nowrap;
}

.review-tu .quantity-review {
  float: right;
}

@-webkit-keyframes fadeInDownModal {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0) translate(-50%, -50%);
    transform: translate3d(0, -100%, 0) translate(-50%, -50%);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) translate(-50%, -50%);
    transform: translate3d(0, 0, 0) translate(-50%, -50%);
  }
}

@keyframes fadeInDownModal {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0) translate(-50%, -50%);
    transform: translate3d(0, -100%, 0) translate(-50%, -50%);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) translate(-50%, -50%);
    transform: translate3d(0, 0, 0) translate(-50%, -50%);
  }
}

.fadeInDownModal {
  -webkit-animation-name: fadeInDownModal;
  animation-name: fadeInDownModal;
}

.fadeInDownMsg {
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: fadeInDownModal;
  animation-name: fadeInDownModal;
}

.pagination > li > a, .pagination > li > span {
  background-color: transparent;
  border-color: transparent;
  color: #333 !important;
  font-family: 'MerriweatherSans';
}

.pagination > .disabled > a,
.pagination > .disabled > a:focus,
.pagination > .disabled > a:hover,
.pagination > .disabled > span,
.pagination > .disabled > span:focus,
.pagination > .disabled > span:hover {
  background-color: transparent;
  border-color: transparent;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: transparent;
  border-color: #ddd;
}

.pt20 {
  padding-top: 20px;
}

.pb20 {
  padding-bottom: 20px;
}

.fz11 {
  font-size: 11px;
}

.fz13 {
  font-size: 13px;
}

.fz15 {
  font-size: 15px;
}

#abcxyz {
  z-index: -1000;
  opacity: 0;
  position: fixed;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  bottom: 40px;
  right: 40px;
  background: #ee6c92;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

#abcxyz i {
  position: absolute;
  color: #fff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

#abcxyz.hienlen {
  opacity: 1;
  z-index: 1000;
}

#abcxyz:hover {
  background-color: #76c4ce;
  -webkit-box-shadow: 4px 4px 4px #0000004a;
          box-shadow: 4px 4px 4px #0000004a;
}

#abcxyz:active {
  -webkit-box-shadow: 0px 0px;
          box-shadow: 0px 0px;
}

.review-tu .quantity-review.numrv {
  float: left;
  padding-left: 10px;
}

.md-autocomplete-suggestions li:not(.md-not-found-wrapper) {
  height: unset;
  line-height: unset;
  padding-top: 10px;
  padding-bottom: 10px;
}

.md-autocomplete-suggestions li:not(.md-not-found-wrapper) .imgClass {
  width: 60px;
  height: 60px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.md-autocomplete-suggestions li:not(.md-not-found-wrapper) .proNameClass {
  padding-left: 20px;
}

.custom-container {
  min-width: 230px !important;
}

#list-types {
  background-color: #fff;
  border: 1px solid #e5e5e5;
}

#list-types ul {
  margin: 0;
  padding: 10px;
  padding-right: 30px;
  list-style: none;
}

#list-types ul li {
  padding-top: 3px;
  padding-bottom: 3px;
  position: relative;
}

#list-types a {
  font-family: "MerriweatherSans";
  position: relative;
  display: block;
  color: #888;
}

#list-types a:hover {
  color: #76c4ce;
}

#list-types .quantity {
  font-family: "MerriweatherSans";
  color: #888;
  position: absolute;
  left: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
}
/*# sourceMappingURL=style.css.map */