<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/library/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="assets/library/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/library/owlcarousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/library/animatecss/animate.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/cart.css">
    <link rel="stylesheet" href="assets/css/product.css">
    <link rel="shortcut icon" href="img/fav.png">
    <title>Document</title>
</head>

<body>
    <div class="content-n-cart clearfix">
        <div class="content">
            <div class="clickdetrove"></div>
            <div class="top-nav">
                <div class="container">
                    <div class="top-nav-welcome">
                        <c:if test="${not empty sessionname}">
                            <div>Welcome <span id="name">${sessionname}</span>, <a
                                    href="${pageContext.request.contextPath}/logout">logout</a></div>
                        </c:if>
                        <c:if test="${empty sessionname}">
                            <div>Welcome visitor you can <a class="login-link" href="">Login</a> and <a
                                    class="create-acc-link" href="">create an account</a> </div>
                        </c:if>
                    </div>
                    <div class="top-nav-tools">
                        <ul>
                            <li><a href=""><i class="far fa-list-alt"></i> Wishlist</a></li>
                            <li><a href=""><i class="fas fa-user-alt"></i> My Account</a></li>
                            <li><a href=""><i class="fas fa-share"></i> Checkout</a></li>
                            <li>
                                <div id="tools-setting"><i class="fas fa-cog"></i> Setting <i
                                        class="fas fa-caret-down"></i></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="header-main">
                <div class="container">
                    <div class="header-logo">
                        <img class="wow bounceIn"
                            src="https://cdn.shopify.com/s/files/1/2334/1307/files/logo_190x30.png" alt="">
                    </div>
                    <div class="header-service">
                        <div class="clearfix">
                            <div class="wow fadeInDown pull-left clearfix">
                                <div class="box-icon">
                                    <i class="fas fa-truck"></i>
                                    <!-- <i class="fal fa-truck"></i> -->
                                </div>
                                <div class="media-body">
                                    <h4>Free Shipping</h4>
                                    <p><em>on order over $100.00</em></p>
                                </div>
                            </div>
                            <div style="animation-delay: .5s;" class="wow fadeInDown pull-left clearfix">
                                <div class="box-icon">
                                    <i class="fas fa-undo-alt"></i>
                                </div>
                                <div class="media-body">
                                    <h4>Free Return</h4>
                                    <p><em>free 90 days return policy</em></p>
                                </div>
                            </div>
                            <div style="animation-delay: 1s;" class="wow fadeInDown  pull-left clearfix">
                                <div class="box-icon">
                                    <i class="far fa-money-bill-alt"></i>
                                </div>
                                <div class="media-body">
                                    <h4>Member discount</h4>
                                    <p><em>free register</em></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="animation-delay: 1.5s;" class="wow fadeInDown header-cart">
                        <div class="showcartajax">
                            <div class="title-cart">
                                <i class="fas fa-shopping-cart"></i>
                            </div>
                            <div class="cart-inner">
                                <span class="cart-title">Shopping cart</span>
                                <span id="CartCount">0</span> <span>items</span>
                                <span id="CartCost"> - <span class="money">$0.00</span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="navigation">
                <div class="container">
                    <ul class="row">
                        <li><a href="">Home</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Contact</a></li>
                        <li>
                            <a>Product</a>
                            <ul>
                                <li><a href="${pageContext.request.contextPath}/product/category">Category</a></li>
                                <li><a href="${pageContext.request.contextPath}/product/type">Type</a></li>
                            </ul>
                        </li>
                        <li><a href="">Blog</a></li>
                    </ul>
                    <form method="post" ng-controller="suggest">
                        <input ng-keyup="inputkeyup($event)" ng-model="mysearch" id="search-input" type="text"><button
                            id="search-button"><i class="fas fa-search"></i></button>
                        <div id="result-suggest" ng-hide="hide">
                            <p ng-repeat="n in listSuggest" ng-click="auto(n)"><img
                                    src="https://cdn.shopify.com/s/files/1/2334/1307/products/Untitled-4_f4c92dfe-1709-4406-bec4-21c707ea1b38_160x140.png">{{n}}
                            </p>
                        </div>
                    </form>
                </div>
            </nav>
            <div class="web-body">
                <div class="container">
                    <div class="row details">
                        <div class="col-md-5">
                            <div class="img">
                                <img src="https://cdn.shopify.com/s/files/1/2334/1307/products/Untitled-14_5179a0ce-9afc-43e1-908a-94081cf070cc.png?v=1504667513"
                                    alt="">
                                <div class="small-img">

                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 pro-details">
                            <div class="details-block">
                                <h1>${thisP.proName}</h1>
                                <div class="review-tu clearfix">
                                    <div class="star-review">
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <div style="" class="star-reviewed">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                    </div>
                                    <span class="quantity-review">No reviews</span>
                                </div>
                                <p>Vendor:Women's shirts</p>
                                <p>THIS IS YOUR FIRST TIME</p>
                                <hr>
                                <p class="availability">AVAILABLE</p>
                                <p><span class="price">${thisP.proPrice}.00</span> <span
                                        class="old-price">$400.00</span></p>
                                <hr>
                                <div class="cart-quantity">
                                    <input ng-model="proQuan" type="number" min="1" max="50">
                                    <button ng-click="incQuanP()" class="cart-quan-plus"><span>+</span></button>
                                    <button ng-click="descQuanP()" class="cart-quan-minus"><span>-</span></button>
                                </div><br>
                                <div class="cart-quantity">
                                    <input type="number" min="1" max="50">
                                    <button class="cart-quan-plus"><span>+</span></button>
                                    <button class="cart-quan-minus"><span>-</span></button>
                                </div><br>
                                <div style="padding-top: 20px">
                                    <a ng-click="addThisToCart('${thisP.proID}')" href=""
                                        class="button-dhq-mk addtocart"><i class="fal fa-cart-plus"></i> Add to cart</a>
                                    <a href="" id="wishlist" class="button-dhq-mk btn-love"><i
                                            class="far fa-heart-square"></i> Add to Wishlist</a>
                                </div>
                                <hr>

                            </div>
                            <div class="tab-for-somthing">
                                <ul class="button-tab">
                                    <li class="active"><a href="" id="info">More Details</a></li>
                                    <li><a href="" id="faq">FAQs</a></li>
                                    <li><a href="" id="review">Reviews</a></li>
                                    <li><a href="" id="comment">Comment</a></li>
                                </ul>
                                <div class="tab-things">
                                    <div id="infoTab" class="tabs">
                                        ${thisP.proDetails}
                                    </div>
                                    <div style="display: none;" id="faqTab" class="tabs">
                                        <h4>vip</h4>
                                        <input id="title-r" placeholder="Give your review a title" class="review-input"/>    
                                        <input id="title-r" placeholder="Give your review a title" class="review-input"/>    
                                        <input id="title-r" placeholder="Give your review a title" class="review-input"/>    
                                        <textarea id="content-r" class="review-input" placeholder="Write your comment here"></textarea>     
                                        <button id="btn-review">SUBMIT REVIEW</button>                                          
                                    </div>
                                    <div style="display: none;" id="reviewTab" class="tabs">
                                        <h3 class="review-h3">Customer Reviews</h3>  
                                        <div class="clearfix">
                                            <span style="float: left">
                                                    <div class="review-tu clearfix">
                                                            <div class="star-review">
                                                                <i class="far fa-star"></i>
                                                                <i class="far fa-star"></i>
                                                                <i class="far fa-star"></i>
                                                                <i class="far fa-star"></i>
                                                                <i class="far fa-star"></i>
                                                                <div class="star-reviewed">
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                </div>
                                                            </div>
                                                            <span class="span-info quantity-review"> Based on 1 review</span>
                                                        </div>
                                            </span>
                                            <a style="float: right" id="write-review">Write a review</a>
                                        </div>
                                        <div id="review-form" class="hide">
                                            <label for="title-r" class="review-label">Review Title</label>
                                            <input id="title-r" placeholder="Give your review a title" class="review-input"/>    
                                                                                       
                                            <label class="review-label">Rating</label>
                                            <label for="content-r" class="review-label">Body of Review (1500) characters remaining</label>
                                            <textarea id="content-r" class="review-input" placeholder="Write your comment here"></textarea>                                               
                                            <button id="btn-review">SUBMIT REVIEW</button>
                                        </div>
                                        <div style="max-height: 320px; overflow-y: scroll;">
                                            <div class="item-review">
                                                <div class="review-tu clearfix">
                                                    <div class="star-review">
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <div style="" class="star-reviewed">
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h2>San pham cui bap</h2>
                                                <span class="info-people"><strong>asdfsdfsdf</strong> on <strong>May 21, 2019</strong></span>
                                                <p>That su thi minh mua thu roi va cam thay rat kho chiu vi su dung san pham dirty</p>                 
                                            </div>  
                                            <div class="item-review">
                                                <div class="review-tu clearfix">
                                                    <div class="star-review">
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <div style="" class="star-reviewed">
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h2>San pham cui bap</h2>
                                                <span class="info-people"><strong>asdfsdfsdf</strong> on <strong>May 21, 2019</strong></span>
                                                <p>That su thi minh mua thu roi va cam thay rat kho chiu vi su dung san pham dirty</p>                 
                                            </div>  
                                            <div class="item-review">
                                                <div class="review-tu clearfix">
                                                    <div class="star-review">
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <div style="" class="star-reviewed">
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h2>San pham cui bap</h2>
                                                <span class="info-people"><strong>asdfsdfsdf</strong> on <strong>May 21, 2019</strong></span>
                                                <p>That su thi minh mua thu roi va cam thay rat kho chiu vi su dung san pham dirty</p>                 
                                            </div>  
                                            <div class="item-review">
                                                <div class="review-tu clearfix">
                                                    <div class="star-review">
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <div style="" class="star-reviewed">
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h2>San pham cui bap</h2>
                                                <span class="info-people"><strong>asdfsdfsdf</strong> on <strong>May 21, 2019</strong></span>
                                                <p>That su thi minh mua thu roi va cam thay rat kho chiu vi su dung san pham dirty</p>                 
                                            </div>  
                                        </div>                     
                                    </div>
                                    <div style="display: none;" id="commentTab" class="tabs">
                                        comment
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row more-product">
                        <div class="event col-lg-3">
                            <a href="#"> <img
                                    src="https://cdn.shopify.com/s/files/1/2334/1307/files/sidebar_bannerone_ca2af4fd-b671-4db7-aadd-836632d18971_278x338.png?v=1508984142"
                                    alt="">
                            </a>
                        </div>
                        <div class="col-lg-9">
                            <div class="col-lg-6">
                                <div class="title-row">FOR <span>HER</span></div>
                                <div class="owl-carousel product-slide quanvippro">
                                    <c:forEach items="${list}" var="ssd">
                                        <div class="product-item wow fadeIn">
                                            <div class="image-product">
                                                <a href=""><img
                                                        src="https://cdn.shopify.com/s/files/1/2334/1307/products/Untitled-4_f4c92dfe-1709-4406-bec4-21c707ea1b38_160x140.png"
                                                        alt=""></a>
                                            </div>
                                            <div class="product-info">
                                                <a href="">${ssd}</a>
                                                <!-- <span class="price">$234.32</span> -->
                                                <span class="old-price">$2349.00</span> <span
                                                    class="new-price">$2349.00</span>
                                            </div>
                                            <div class="review-n-button-tu">
                                                <div class="review-tu clearfix">
                                                    <div class="star-review">
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <div class="star-reviewed">
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                        </div>
                                                    </div>
                                                    <span class="quantity-review">No reviews</span>
                                                </div>
                                                <div class="button-tu clearfix">
                                                    <div class="btn-addtocart addtocart clearfix">
                                                        <span class="icon-btn"><i
                                                                class="fas fa-shopping-cart"></i></span>
                                                        <span class="tool-title">Addtocart</span>
                                                    </div>
                                                    <div class="btn-love"><span><i class="fa fa-heart"></i></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </c:forEach>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="title-row">FOR <span>HER</span></div>
                                <div class="owl-carousel product-slide quanvippro">
                                    <c:forEach items="${list}" var="ssd">
                                        <div class="product-item wow fadeIn">
                                            <div class="image-product">
                                                <a href=""><img
                                                        src="https://cdn.shopify.com/s/files/1/2334/1307/products/Untitled-4_f4c92dfe-1709-4406-bec4-21c707ea1b38_160x140.png"
                                                        alt=""></a>
                                            </div>
                                            <div class="product-info">
                                                <a href="">${ssd}</a>
                                                <!-- <span class="price">$234.32</span> -->
                                                <span class="old-price">$2349.00</span> <span
                                                    class="new-price">$2349.00</span>
                                            </div>
                                            <div class="review-n-button-tu">
                                                <div class="review-tu clearfix">
                                                    <div class="star-review">
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <div class="star-reviewed">
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                        </div>
                                                    </div>
                                                    <span class="quantity-review">No reviews</span>
                                                </div>
                                                <div class="button-tu clearfix">
                                                    <div class="btn-addtocart addtocart clearfix">
                                                        <span class="icon-btn"><i
                                                                class="fas fa-shopping-cart"></i></span>
                                                        <span class="tool-title">Addtocart</span>
                                                    </div>
                                                    <div class="btn-love"><span><i class="fa fa-heart"></i></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </c:forEach>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="footer-tu">
                    <div class="container">
                        <div class="footer-about col-md-3 col-sm-12 col-xs-12">
                            <img src="https://cdn.shopify.com/s/files/1/2334/1307/files/shop_images_footer_e552736b-324e-47c1-90f3-23538bcc9f66_190x30.png?v=1507887912"
                                alt="">
                            <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non
                                mauris vitae
                                Cerat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per
                                conubia nostra, per inceptos himenaeos.</p>
                        </div>
                        <div class="footer-account col-md-2 col-sm-12 col-xs-12">
                            <h3>Account</h3>
                            <ul>
                                <li><a>Wishlist</a></li>
                                <li><a>Your cart</a></li>
                                <li><a>Checkout</a></li>
                                <li><a>Login</a></li>
                            </ul>
                        </div>
                        <div class="footer-information col-md-2 col-sm-12 col-xs-12">
                            <h3>Information</h3>
                            <ul>
                                <li><a>About us</a></li>
                                <li><a>Jobs</a></li>
                                <li><a>Sitemap</a></li>
                                <li><a>Contact</a></li>
                            </ul>
                        </div>
                        <div class="footer-quicklink col-md-2 col-sm-12 col-xs-12">
                            <h3>QUICK LINKS</h3>
                            <ul>
                                <li><a>Search</a></li>
                                <li><a>Delivery Information</a></li>
                                <li><a>Privacy Policy</a></li>
                                <li><a>Terms & Conditions</a></li>
                            </ul>
                        </div>
                        <div class="footer-bip col-md-3 col-sm-12 col-xs-12">
                            <p>BIP DAY DMMM</p>
                        </div>
                    </div>
                </div>
                <div class="footer-copyright">
                    <span>&copy; Copyright 2019 CANGCUCOT v2 PRJ4.</span>
                    <span>Powered by Thầy Nguyên</span>
                </div>
            </div>
        </div>
        <div class="cart">
            <h2>YOUR CART</h2>
            <div class="cart-list-total">
                <div class="list-cart-items" ng-repeat="ci in listCartItems">
                    <div class="cart-item clearfix">
                        <div class="cart-photo">
                            <img src="https://cdn.shopify.com/s/files/1/2334/1307/products/Untitled-4_f4c92dfe-1709-4406-bec4-21c707ea1b38_160x140.png"
                                alt="">
                        </div>
                        <div class="cart-info">
                            <h5 class="cart-proName">{{ci.proName}}</h5>
                            <div class="cart-tools">
                                <div class="cart-quantity" id="asdkkfjasfd">
                                    <input ng-model="ci.quantity" type="number" min="1" max="50">
                                    <button class="cart-quan-plus"><span>+</span></button>
                                    <button class="cart-quan-minus"><span>-</span></button>
                                </div>
                                <button class="cart-items-remove"><i class="fal fa-trash-alt"></i></button>
                            </div>
                            <div class="cart-price">x {{"$"+ci.proPrice}}.00 = {{"$"+(ci.proPrice*ci.quantity)}}.00
                            </div>
                        </div>
                    </div>
                </div>
                <div class="total-price">
                    <span id="t-title">SUBTOTAL</span>
                    <span id="t-price">{{"$"+subtotal}}.99</span>
                </div>
            </div>
            <a id="toCart" href="">Go to Cart</a>
            <a id="Checkout" href="">Check out <i class="fal fa-long-arrow-right"></i></a>
        </div>
    </div>

    <script src="assets/library/jquery/js/jquery.min.js"></script>
    <script src="assets/library/bootstrap/js/bootstrap.3.4.0.min.js"></script>
    <script src="assets/library/owlcarousel/js/owl.carousel.min.js"></script>
    <script src="assets/js/slideconfig.js"></script>
    <script src="assets/library/wowjs/wow.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/library/wowjs/infinite-scroll-docs.min.js"></script>
    <script src="assets/js/ajax/product-ajax.js"></script>
    <script src="assets/library/angularjs/angular.min.js"></script>
    <script src="assets/js/main-angular.js"></script>
</body>

</html>