@charset "UTF-8";
.clearfix:after, .r:after {
  content: '';
  display: table;
  clear: both;
}

.color-pink {
  color: #ee6c92;
}

.fr {
  float: right;
}

.fz13 {
  font-size: 13px;
}

.pl20 {
  padding-left: 20px;
}

.dib {
  display: inline-block;
}

.mt70 {
  margin-top: 70px;
}

.ml50 {
  margin-left: 50px;
}

.ml70 {
  margin-left: 70px;
}

.ml100 {
  margin-left: 100px;
}

.mr60i {
  margin-right: 60px !important;
}

h2.h2f {
  padding: 14px 0 14px 50px;
  position: fixed;
  margin: 0;
  background: white;
  top: 0;
  left: 0;
  z-index: 1;
  right: calc(35% + 40px);
}

.r {
  margin-left: -10px;
  margin-right: -10px;
}

.c-05 {
  float: left;
  width: 50%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.button-remove {
  background-color: #ec5a84;
  padding: 5px;
  border: 1px solid #ec5a84;
  color: #fff;
}

.button-remove:hover {
  background-color: #fff;
  color: #ec5a84;
}

@font-face {
  font-family: 'MerriweatherSans';
  src: url("../fonts/MerriweatherSans-Regular/MerriweatherSans-Regular.eot");
  src: local("☺"), url("../fonts/MerriweatherSans-Regular/MerriweatherSans-Regular.woff") format("woff"), url("../fonts/MerriweatherSans-Regular/MerriweatherSans-Regular.ttf") format("truetype"), url("../fonts/MerriweatherSans-Regular/MerriweatherSans-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'MerriweatherSans';
}

body {
  margin: 0;
  padding: 0;
}

body .product-item {
  padding: 10px;
  margin: 10px;
  border: 1px solid #ebebeb;
  -webkit-box-shadow: 4px 4px 0 #ebebeb;
          box-shadow: 4px 4px 0 #ebebeb;
  position: relative;
}

body .product-item img {
  width: 90px;
  height: 90px;
  -o-object-fit: cover;
     object-fit: cover;
}

body .product-item .pname {
  position: absolute;
  top: 10px;
  left: 100px;
  color: #000;
  width: 200px;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

body .product-item .pname:hover {
  color: #76c4ce;
}

body .product-item .pdate {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

body .product-item .pdate span {
  color: #b8b8b8;
}

body .product-item .pbutton-wishlist {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

body .ui .left-part {
  float: left;
  width: 65%;
}

body .ui .left-part .list-product {
  padding-left: 100px;
  padding-right: 60px;
}

body .ui .left-part .block-product h2 {
  padding-left: 50px;
}

body .ui .left-part .block-product:not(:first-child) {
  margin-top: 30px;
  border-top: 1px solid #ebebeb;
}

body .ui .left-part .block-product:last-child {
  margin-bottom: 25px;
}

body .ui .right-part {
  background-color: #76c4ce;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 65%;
}

body .ui .right-part #myaccount {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

body .ui .right-part .avatar {
  position: relative;
  margin: 0 auto;
  border: 6px solid #fff;
  border-radius: 50%;
  overflow: hidden;
  width: 170px;
  height: 170px;
  font-size: 12px;
}

body .ui .right-part .avatar img {
  width: 170px;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
}

body .ui .right-part .avatar a {
  position: absolute;
  bottom: 0;
  width: 170px;
  text-align: center;
  padding-top: 40px;
  height: 45px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: -1000;
  -webkit-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
  color: #ffffff00;
  background-color: #0000007a;
}

body .ui .right-part .avatar a i {
  top: 12px;
  left: 50%;
  font-size: 20px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
}

body .ui .right-part .avatar:hover a {
  z-index: 1000;
  opacity: 1;
  color: #ffffffff;
}

body .ui .profile {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}

body .ui .profile:hover p.profile-name > a {
  color: #000;
  z-index: 1000;
}

body .ui .profile p.profile-name {
  text-align: center;
  position: relative;
}

body .ui .profile p.profile-name > a {
  position: absolute;
  right: -2px;
  top: 0;
  color: #76c4ce;
  z-index: -1000;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

body .ui .profile p.profile-name > a:hover {
  color: #fff;
}

body .ui .profile .profile-info {
  border-top: 1px solid #ccc;
  position: relative;
}

body .ui .profile .profile-info > span {
  display: block;
  padding: 10px 0;
}

.form-account h2 {
  padding-left: 190px;
}

.form-account .label-account {
  color: #666666;
  margin-left: 240px;
  margin-bottom: 5px;
}

.form-account input {
  border: 1px solid #ebebeb;
  padding: 10px;
  width: 400px;
  display: block;
  margin: 0 auto;
}

.form-account input + .label-account {
  margin-top: 15px;
}

.form-account input + .label-account + input {
  margin-bottom: 15px;
}

.form-account .btn {
  margin-left: 240px;
  background-color: #76c4ce;
  border: 1px solid #76c4ce;
  padding: 5px;
  color: #fff;
}

.form-account .btn:hover {
  background-color: #fff;
  color: #76c4ce;
}

.table-account h2 {
  padding: 14px 0 14px 50px;
  position: fixed;
  margin: 0;
  background: white;
  top: 0;
  left: 0;
  z-index: 1;
  right: calc(35% + 40px);
}

.table-account .list-product {
  padding-top: 70px;
}

.table-account img {
  width: 140px;
  height: 140px;
  -o-object-fit: cover;
     object-fit: cover;
}

.table-account .wishlist-price {
  position: absolute;
  top: 70px;
  left: 100px;
}

.table-account table {
  margin-top: 70px;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ebebeb;
  width: 750px;
  margin-left: 70px;
}

.table-account table tr {
  border: 1px solid #ebebeb;
}

.table-account table tr td {
  padding-left: 20px;
}

.table-account table tr td + td {
  border-left: 1px solid #ebebeb;
}

.table-account table tr td > a {
  display: inline-block;
  margin: 20px;
}

#switcher {
  position: fixed;
  height: 100%;
  width: 30px;
  right: 35%;
}

#switcher > div {
  position: relative;
  border-left: 1px solid #76c4ce;
  width: 30px;
  height: 25%;
  background-color: #f0f8ff;
  color: #76c4ce;
}

#switcher > div:not(:first-child) {
  border-top: 1px solid #76c4ce;
}

#switcher > div.active {
  background-color: #fff;
  border-left-width: 0;
}

#switcher > div i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hb {
  height: 250px;
}

.od-box {
  margin: 0 10px;
  border: 1px solid #ebebeb;
}

.od-box h3 {
  background-color: #ebebeb;
  margin: 0;
  padding: 5px 0;
  padding-left: 10px;
}

.od-box span {
  display: block;
  font-size: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.od-box > * {
  padding-left: 10px;
}

.price-io {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
/*# sourceMappingURL=account.css.map */