.content-container .row-form::after {
  content: '';
  display: table;
  clear: both;
  width: 100%;
}

.content-container .row-form::after .col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.content-container .row-form::after .col-25 .labelf {
  color: red;
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.content-container .row-form::after .col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.content-container .row-form::after .col-75 .ipText {
  width: 100%;
  padding: 15px;
  margin: 10px 0 0px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

@media screen and (max-width: 600px) {
  .col-25, col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

