@font-face {
    font-family: 'MerriweatherSans';
    src: url('../fonts/MerriweatherSans-Regular/MerriweatherSans-Regular.eot');
    src: local('☺'), url('../fonts/MerriweatherSans-Regular/MerriweatherSans-Regular.woff') format('woff'), url('../fonts/MerriweatherSans-Regular/MerriweatherSans-Regular.ttf') format('truetype'), url('../fonts/MerriweatherSans-Regular/MerriweatherSans-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
//quantity up down

.cart-quantity{
    display: inline-block;
    position: relative;
    >input{
        width: 40px;
        text-align: center;
        margin-right: 25px;
        border: 1px solid #ededed;
        border-right: 0px;
        height: 30px;
        &:focus{
            outline: none;
        }
    }
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
    }
    .cart-quan-plus{
        top: 0;
    }
    .cart-quan-plus, .cart-quan-minus{
        position: absolute;
        line-height: 13px;
        height: 15px;
        width: 25px;
        right: 0;
        border: 1px solid #ededed;
        background: transparent;
        span{
            font-size: 16px;
            font-family: 'MerriweatherSans';
        }
        &:focus{
            outline: none;
        }
        &:hover{
            background: #ededed;
            span{
                color: #fff;
            }
        }
    }
    .cart-quan-minus{
        bottom: 0;
        border-top: 0px;
    }
}
///cart nào cũng nhu nhau
.cart-list-total{
    .list-cart-items{
        padding-top: 30px;
        padding-bottom: 30px;
        border-bottom: 2px solid #ededed;
        border-top: 1px solid #ededed;
        max-height: 391.23px;
        overflow: auto;
        .cart-item{ 
            &+.cart-item{
                padding-top: 30px;
            }
            .cart-photo{
                float: left;
                width: 33.3333333%;
                img{
                    width: 100%;
                }
            }
            .cart-info{
                float: left;
                width: 66.666666%;
                .cart-proName{
                    font-family: 'MerriweatherSans';
                    font-size: 12px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
                .cart-tools{
                    /*display: block;*/
                    .cart-items-remove{
                        float: right;
                        border: 0;
                        margin-right: 30px;
                        background: 0;
                        &:focus{
                            outline: none;
                        }
                        &:hover{
                            color: #e6e3e0;
                        }
                    }
                }
                .cart-price{
                    font-family: 'MerriweatherSans';
                    font-size: 13px;
                }
            }
        }
    }
    .total-price{
        position: relative;
        padding: 15px 0;
        #t-title, #t-price{
            font-size: 20px;
            font-family: 'MerriweatherSans';
            display: block;
            color: #666;
        }
        #t-price{
            position: absolute;
            top: 15px;
            right: 0;
        }
    }
}

.button-in-cart-page{
    background-color: #76c4ce;
    color: #fff;
    font-family: 'MerriweatherSans';
    display: inline-block;
    padding: 15px;
    text-align: center;
    display: block;
    width: max-content;
    margin: 0 auto;
    border: 1px solid #ededed;
}

.button-in-cart-page:hover{
    background-color: #ee6c92;
    text-decoration: none;
}
#btn-remove-cart:hover{
    background-color: #fff;
    text-decoration: none;
    color: #bbe6eb;
    border: 1px solid #bbe6eb;
}
.cart-block{
    background-color: #fff;
    padding: 15px;
    .cart-table{
        font-family: 'MerriweatherSans';
        width: 100%;
        border: 1px solid #eaeaea;
        tr{
            border: 1px solid #eaeaea;
            .r1{
                padding: 20px 10px;
                a{
                    color: #000;
                    font-size: 13px;
                    &:hover{
                        color: #76c4ce;
                    }
                }
            }
            .r11{
                width: 100px;
            }
            .r2, .r3, .r4,.r5{
                padding: 20px 10px;
                text-align: center;
                width: 147px;
                border-left: 1px solid #eaeaea;
            }
        }
        .cart-table-title{
            // border-bottom: 0;
        }
        .cart-table-item{
        }
    }
    .cart-footer{
        font-family: 'MerriweatherSans';
        margin-top: 50px;
        .button-in-cart-page{
            display: inline-block;
            &:hover{
                background-color: #fff;
                text-decoration: none;
                color: #bbe6eb;
                border: 1px solid #bbe6eb;
            }
        }
        #cf-subtotal{
            width: 150px;
            padding-left: 50px;
        }
    }
}
#h2yourcart{
    font-family: 'MerriweatherSans';
}
#empty-cart{
    margin: 100px 0;
}