<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>listUserServlet</servlet-name>
        <servlet-class>Servlet.listUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertUserSeverlet</servlet-name>
        <servlet-class>Servlet.InsertUserSeverlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testServlet</servlet-name>
        <servlet-class>Servlet.testServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertProductServlet</servlet-name>
        <servlet-class>Servlet.InsertProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showProductServlet</servlet-name>
        <servlet-class>Servlet.showProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginStafftServlet</servlet-name>
        <servlet-class>Servlet.loginStafftServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertStaffServlet</servlet-name>
        <servlet-class>Servlet.InsertStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showStaffServlet</servlet-name>
        <servlet-class>Servlet.showStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showUserServlet</servlet-name>
        <servlet-class>Servlet.showUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showFeedbackServlet</servlet-name>
        <servlet-class>Servlet.showFeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profileServlet</servlet-name>
        <servlet-class>Servlet.profileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showCatServlet</servlet-name>
        <servlet-class>Servlet.showCatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changPassServlet</servlet-name>
        <servlet-class>Servlet.changPassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getDetailsProductServlet</servlet-name>
        <servlet-class>Servlet.getDetailsProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateProductServlet</servlet-name>
        <servlet-class>Servlet.updateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertCatTyServlet</servlet-name>
        <servlet-class>Servlet.insertCatTyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listCatServlet</servlet-name>
        <servlet-class>Servlet.listCatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CatvTypeSevlet</servlet-name>
        <servlet-class>Servlet.CatvTypeSevlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>disableProductServlet</servlet-name>
        <servlet-class>Servlet.disableProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateCatServlet</servlet-name>
        <servlet-class>Servlet.updateCatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getDetailsCatServlet</servlet-name>
        <servlet-class>Servlet.getDetailsCatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getDetailsTypeServlet</servlet-name>
        <servlet-class>Servlet.getDetailsTypeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateTypeServlet</servlet-name>
        <servlet-class>Servlet.updateTypeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reportCatServlet</servlet-name>
        <servlet-class>Servlet.reportCatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showPurServlet</servlet-name>
        <servlet-class>Servlet.showPurServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>disableCatServlet</servlet-name>
        <servlet-class>Servlet.disableCatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>disableTypeServlet</servlet-name>
        <servlet-class>Servlet.disableTypeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeStatusServlet</servlet-name>
        <servlet-class>Servlet.changeStatusServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>listUserServlet</servlet-name>
        <url-pattern>/listUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertUserSeverlet</servlet-name>
        <url-pattern>/InsertUserSeverlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testServlet</servlet-name>
        <url-pattern>/testServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertProductServlet</servlet-name>
        <url-pattern>/InsertProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showProductServlet</servlet-name>
        <url-pattern>/showProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginStafftServlet</servlet-name>
        <url-pattern>/loginStafftServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertStaffServlet</servlet-name>
        <url-pattern>/InsertStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showStaffServlet</servlet-name>
        <url-pattern>/showStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showUserServlet</servlet-name>
        <url-pattern>/showUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showFeedbackServlet</servlet-name>
        <url-pattern>/showFeedbackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profileServlet</servlet-name>
        <url-pattern>/profileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showCatServlet</servlet-name>
        <url-pattern>/showCatServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changPassServlet</servlet-name>
        <url-pattern>/changePassServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getDetailsProductServlet</servlet-name>
        <url-pattern>/getDetailsProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateProductServlet</servlet-name>
        <url-pattern>/updateProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertCatTyServlet</servlet-name>
        <url-pattern>/insertCatTyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listCatServlet</servlet-name>
        <url-pattern>/listCatServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CatvTypeSevlet</servlet-name>
        <url-pattern>/CatvTypeSevlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>disableProductServlet</servlet-name>
        <url-pattern>/disableProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateCatServlet</servlet-name>
        <url-pattern>/updateCatServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getDetailsCatServlet</servlet-name>
        <url-pattern>/getDetailsCatServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getDetailsTypeServlet</servlet-name>
        <url-pattern>/getDetailsTypeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateTypeServlet</servlet-name>
        <url-pattern>/updateTypeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reportCatServlet</servlet-name>
        <url-pattern>/reportCatServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showPurServlet</servlet-name>
        <url-pattern>/showPurServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>disableCatServlet</servlet-name>
        <url-pattern>/disableCatServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>disableTypeServlet</servlet-name>
        <url-pattern>/disableTypeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeStatusServlet</servlet-name>
        <url-pattern>/changeStatusServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <error-page>
        <location>/404.jsp</location>
    </error-page>
</web-app>
